{{#each albumReview |albumReview|}}
<section>
    <h2>{{albumReview.albums_id}}</h2>
    <h3>{{albumReview.title}}</h2>
    <p>{{albumReview.review}}</p>
</section>
<section>
    <h2>{{songReview.song}}</h2>
    <h3>{{songReview.title}}</h2>
    <p>{{songReview.review}}</p>
</section>
{{/each}}